/* Base Styles --------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: #4c3d74;
    font-family: 'Futura', sans-serif;
    font-style: normal;
    color: #fff;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

/* Text Colors --------------------- */

.white {
    color: #fff;
}

.purple {
    color: #504178;
}

/* Navigation ----------------- */

#name, li {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;

    letter-spacing: 1px;
}

li {
    margin-left: 20px;
}

#name,
.main-nav,
.main-nav li {
    display: inline-block;
}

#name {
    float: left;
}

.main-nav {
    float: right;
}

.main-nav li {
    float: left;
    margin-right: 15px;
}

.main-header::after {
    content: "";
    display: block;
    clear: both;
}

/* Text ---------------------------*/

/* Primary */

.text-medium {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1px;
}

.text-large {
    margin: 20px 0 10px;

    font-weight: 800;
    font-size: 50px;
    line-height: 66px;
}

.text-large + .text-medium {
    width: 461px;
    margin-bottom: 35px;
}

/* Secondary */

.width-general > .text-large {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.text-badge {
    width: 253px;

    padding: 10px;
    margin-left: 55px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.container-badges + .text-medium {
    width: 555px;
    margin-right: -40px;
}

.text-medium, .sign-up {
    display: inline-block;
}


/* Containers -------------------- */

/* Primary */

#container-primary {
    height: 800px;
    border: 1px solid #4c3d74;
}

.width-general {
    max-width: 1160px;
    margin: 105px auto;

    position: relative;
}

.section-header {
    height: 38px;
}

.container-text {
    width: 65%;
    float: left;
    margin-top: 120px;
    /*border: 2px solid red;*/
}

.container-img {
    width: 35%;
    float: right;
    /*border: 2px solid red;*/

    position: relative;
}

.group {
    content: "";
    display: table;
    clear: both;
}

/* Secondary */

#container-secondary {
    height: 700px;
    background: #fff;

    border: 1px solid #4c3d74;
}

.badge {
    position: relative;

    width: 333px;
    margin: 0 25px 0;

    background: #e5e5e5;

    border: 3px solid #4c3d74;
    border-radius: 30px;
}

.container-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

/* Tertiary */

#container-tertiary {
    height: 1379px;
    background: #4c3d74;
}

/* Images --------------------- */

/* Primary* */

#party-face {
    width: 472px;
    height: 472px;

    margin-top: 10px;
}

/* Secondary */

.image-badge {
    position: absolute;
    top: 10px;
    left: -45px;

    width: 89px;
}

.image-container {
    position: absolute;

    bottom: -140px;
    right: 40px;
}

/* Buttons --------------------- */

/* Primary */

.sign-up {
    width: 245px;
    height: 60px;

    background: #a387c4;
    border: #a387c4;
    border-radius: 30px;
}

.programme {
    width: 245px;
    height: 60px;

    background: #4c3d74;
    border: 3px solid #a387c4;
    border-radius: 30px;

    margin-left: 25px;
}

.button-text {
    font-family: 'Futura', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 1px;
}

/* Secondary */

.button-text-secondary {
    font-family: 'Futura', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 1px;
}

.button-text-secondary, .text-medium {
    vertical-align: middle;
}

button + span {
    color: blue;
}
/* Shapes ------------------------ */

#blur {
    position: absolute;
    border-radius: 50px;
    width: 318px;
    height: 318px;

    top: 100px;
    left: 80px;

    background: #a387c4;
    filter: blur(400px);
}
