/* Base Styles --------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: #4c3d74;
    font-family: 'Futura', sans-serif;
    font-style: normal;
    color: #fff;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

/* Navigation ----------------- */

#name, li {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;

    letter-spacing: 1px;
}

li {
    margin-left: 20px;
}

#name,
.main-nav,
.main-nav li {
    display: inline-block;
}

#name {
    float: left;
}

.main-nav {
    float: right;
}

.main-nav li {
    float: left;
    margin-right: 15px;
}

.main-header::after {
    content: "";
    display: block;
    clear: both;
}

/* Text ---------------------------*/

.text-item-medium {
    width: 461px;

    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1px;
}

.text-item-large {
    margin: 20px 0;

    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
}

/* Containers -------------------- */

.container-general {
    max-width: 1160px;
    margin: 105px auto;
}

.container-header {
    height: 38px;
}

.container-text {
    width: 60%;
    float: left;
    margin-top: 120px;
    /*border: 2px solid red;*/
}

.container-img {
    width: 36.5%;
    float: right;
    /*border: 2px solid red;*/
}

.group {
    content: "";
    display: table;
    clear: both;
}
