/* Base Styles --------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: #4c3d74;
    font-family: 'Futura', sans-serif;
    font-style: normal;
    color: #fff;
}

/* Text --------------------- */

#name {
    /*position: absolute;*/
    width: 871px;
    height: 66px;
    left: 139px;
    top: 288px;

    font-size: 50px;
    font-weight: bold;
    line-height: 66px;

    text-shadow: 0 0 10px #a387c4;
}

#intro-1 {
    /*position: absolute;*/
    width: 660px;
    height: 120px;
    left: 140px;
    top: 394px;

    font-size: 16px;
    line-height: 24px;
}

#intro-2 {
    /*position: absolute;*/
    width: 650px;
    height: 48px;
    left: 139px;
    top: 532px;

    font-weight: 500;
    line-height: 24px;
}

#sub-heading-1 {
    /*position: absolute;*/
    display: block;
    float: left;
    width: 219px;
    height: 66px;
    left: 140px;
    top: 600px;

    font-size: 50px;
    font-weight: bold;
    line-height: 66px;
}

#caption-1 {
    /*position: absolute;*/
    float: left;
    width: 251px;
    height: 24px;
}

#sub-heading-2 {
    /*position: absolute;*/
    width: 236px;
    height: 66px;
    left: 461px;
    top: 600px;

    font-size: 50px;
    font-weight: bold;
    line-height: 66px;
}

#caption-2 {
    /*position: absolute;*/
    width: 236px;
    height: 24px;
}

#sub-heading-1, #sub-heading-2 {
    margin-bottom: 0;
}

#caption-1, #caption-2 {
    margin-top: 5px;
}

/* Images --------------------- */

#party-face {
    position: absolute;
    width: 472px;
    height: 472px;
    left: 893px;
    top: 230px;
    z-index: 1;
}

/* Shapes --------------------- */

#blur {
    position: absolute;
    border-radius: 50px;
    width: 318px;
    height: 318px;
    left: 960px;
    top: 320px;

    background: #a387c4;
    filter: blur(400px);
}

/* Containers --------------------- */

#container-text {
    width: 660px;
    margin-top: 288px;
    margin-left: 140px;
}

#income, #clients {
    width: 46.5%;
}

#income {
    float: left;
}

#clients {
    float: right;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}


