/* Base Styles --------------------- */

* {
    box-sizing: border-box;
}

body {
    background-color: #4c3d74;
    font-family: 'Futura', sans-serif;
    font-style: normal;
    color: #fff;
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
    padding: 0;
}

/* Text Colors --------------------- */

.white {
    color: #fff;
}

.purple {
    color: #504178;
}

/* Navigation ----------------------*/

.main-nav {
    display: none;
}

#name {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 1px;
}

/* Text ---------------------------*/

/* Primary */

.text-medium {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: center;
}

.text-large {
    margin: 20px 0 10px;

    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

/* Secondary */

.width-secondary > .text-large {
    text-align: center;
    padding: 115px 0 40px;
}

.text-badge {
    width: 253px;

    padding: 15px 5px;
    margin-left: 25px;

    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}

.container-badges + .text-medium {
    width: 304px;
    font-weight: 800;

    margin-left: 25px;
}

/* Tertiary */

.width-tertiary > .text-large {
    text-align: center;
    padding: 115px 0 40px;
}

.text-label {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    display: inline-block;
    margin-left: 80px;
    margin-top: 0;
    padding-bottom: 20px;
}

.container-labels + .text-large {
    padding: 60px 0 20px;
}

#wrapper-inner-text-1, #wrapper-inner-text-2, #wrapper-inner-text-3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}

.number {
    font-size: 30px;
    line-height: 40px;
}

/* Quaternary */

.width-quaternary > .text-large {
    text-align: center;
    padding: 115px 0 40px;
}

.li-quaternary {
    color: #4c3d74;
    border-top: 3px solid #504178;
    padding: 20px 0 5px;
    letter-spacing: 1px;
}

.add {
    float: right;
}

.wrapper-list {
    border-bottom: 3px solid #504178;
    margin-bottom: 50px;
}

.sign-up + .text-medium {
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;

    margin-top: 40px;
    margin-bottom: 40px;
}

/* Quinary */

.width-quinary > .text-large {
    text-align: center;
    padding: 115px 0 40px;
}

.rate-header, .rate-length {
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;
}

.rate-line {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;

    margin: 0;
}

.rate-span {
    font-size: 25px;
    font-weight: bold;
    line-height: 150%;

    vertical-align: middle;
    margin-right: 5px;
}

.rate-span-price {
    font-size: 16px;
    font-weight: 800;

    float: right;
}

.rate-caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

/* Senary */

.width-senary > .text-large {
    text-align: center;
    padding: 115px 0 40px;
}

.img-tg-up + .text-medium {
    width: 283px;
    margin-left: 80px;
    text-align: left;

    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
}

/* Footer */

.text-footer {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 250%;
    letter-spacing: 1px;
}


/* Containers ----------------------- */

/* Primary */

#container-primary {
    height: 1094px;

    padding-top: 115px;

    border: 1px solid #4c3d74;
    position: relative;
}

.width-primary {
    max-width: 360px;
    margin: auto;
}

.container-text-primary {
    text-align: center;
    margin-top: 130px;
}

/* Secondary */

#container-secondary {
    height: 1238px;
    background: #fff;
}

.width-secondary {
    max-width: 360px;
    margin: auto;

    position: relative;
}

.badge {
    position: relative;

    width: 304px;
    height: 140px;
    margin: 0 25px 50px;

    background: #e5e5e5;

    border: 3px solid #4c3d74;
    border-radius: 30px;
}

/* Tertiary */

#container-tertiary {
    height: 2300px;
}

.width-tertiary {
    max-width: 360px;
    margin: auto;
}

.container-labels {
    position: relative;
}

.container-highlights {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.time, .years, .income, .clients {
    width: 160px;
}

/* Quaternary */

#container-quaternary {
    height: 1575px;
    background: #fff;
}

.width-quaternary {
    max-width: 360px;
    margin: auto;

    position: relative;
}

/* Quinary */

#container-quinary {
    height: 2738px;
}

.width-quinary {
    max-width: 360px;
    margin: auto;

    position: relative;
}

.rate {
    width: 314px;
    height: 605px;

    margin: 0 auto 65px;

    background: #f2eef7;
    border: 3px solid #4c3d74;
    border-radius: 30px;

    position: relative;
}

.rate-text-inner {
    padding: 50px 25px;
}

.text-caption-quinary {
    font-size: 16px;
    font-weight: 800;
    line-height: 150%;

    text-align: center;
}

/* Senary */

#container-senary {
    height: 1235px;
    background: #fff;
}

.width-senary {
    max-width: 360px;
    margin: auto;

    position: relative;
}

.container-caption-senary {
    position: relative;
}

/* Footer */

#container-footer {
    height: 551px;
    background: #251933;
}

.width-footer {
    max-width: 360px;
    margin: auto;
}

.wrapper-text-footer {
    padding: 100px 0;
}

/* Buttons ------------------------- */

.sign-up {
    width: 300px;
    height: 60px;

    background: #a387c4;
    border: #a387c4;
    border-radius: 30px;
}

.programme {
    width: 300px;
    height: 60px;

    background: #4c3d74;
    border: 3px solid #a387c4;
    border-radius: 30px;
}

.sign-up + .programme {
    margin-top: 20px;
}

.button-text {
    font-family: 'Futura', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: 1px;
}

/* Secondary */

.text-medium + .sign-up {
    margin: 30px 30px 40px;
}

/* Quaternary */

.wrapper-list + .sign-up {
    margin-left: 30px;
}

/* Quinary */

.rate-text-inner + .sign-up {
    width: 245px;

    position: absolute;

    left: 32px;
    bottom: -30px;
}

.button-blue-print {
    width: 245px;
    height: 60px;

    background: #4c3d74;
    border: 3px solid #a387c4;
    border-radius: 30px;

    margin: 20px 55px;
}

.button-insta {
    width: 245px;
    height: 60px;

    background: #4c3d74;
    border: 3px solid #4c3d74;
    border-radius: 30px;

    margin: 0 55px;
}

/* Images --------------------- */

/* Primary */

#party-face {
    width: 309px;

    margin-top: 20px;
    margin-left: 30px;
}

/* Secondary */

.image-badge {
    position: absolute;
    top: -35px;
    left: -10px;
    width: 61px;
}

.image-badge-mobile-right {
    top: -35px;
    left: 235px;
}

.sign-up + .image-container {
    width: 215px;
    margin-left: 70px;
}

/* Tertiary */

.image-label {
    width: 46px;
    position: absolute;
    left: 10px;
}

#photo-julia {
    width: 303px;
    height: 373px;

    margin-top: 30px;
}

.container-img-tertiary {
    text-align: center;
}

/* Quaternary */

.image-container {
    width: 215px;
    margin-left: 70px;
}

/* Quinary */

.rate-image {
    width: 98px;

    position: absolute;

    top: -30px;
    right: -35px;
}

.img-caption-quinary {
    margin: 20px 145px 10px;
}

/* Senary */

.img-tg-down, .img-tg-up {
    position: absolute;
    top: 15px;
}

.img-tg-up {
    top: 25px;
    left: 5px;
}

.container-caption-senary + .image-container-senary {
    margin: 0 55px;
}

@media (min-width: 1315px) {

    /* Navigation ----------------- */

    #name, li {
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;

        letter-spacing: 1px;
    }

    li {
        margin-left: 20px;
    }

    #name,
    .main-nav,
    .main-nav li {
        display: inline-block;
    }

    #name {
        float: left;
    }

    .main-nav {
        float: right;
    }

    .main-nav li {
        float: left;
        margin-right: 15px;
    }

    .main-header::after {
        content: "";
        display: block;
        clear: both;
    }

    /* Text ---------------------------*/

    /* Primary */

    .text-medium {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 1px;
    }

    .text-large {
        margin: 20px 0 10px;

        font-weight: 800;
        font-size: 50px;
        line-height: 66px;
    }

    .text-large + .text-medium {
        width: 461px;
        margin-bottom: 35px;
        text-align: left;
    }

    /* Secondary */

    .width-secondary > .text-large {
        text-align: center;
        padding: 150px 0 0;
        margin-bottom: 60px;
    }

    .text-badge {
        width: 253px;

        margin-left: 45px;

        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
    }

    .container-badges + .text-medium {
        width: 555px;

        font-weight: 700;
        text-align: left;
        margin-right: 0;
    }

    .text-medium, .sign-up {
        display: inline-block;
    }

    /* Tertiary */

    .width-tertiary > .text-large {
        text-align: center;
        padding-top: 150px;
        margin-bottom: 30px;
    }

    .text-label {
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;

        margin-left: 5px;
        margin-top: 20px;
        padding-bottom: 0;

    }

    .container-labels + .text-large {
        padding-top: 100px;
    }

    #wrapper-inner-text-1, #wrapper-inner-text-2, #wrapper-inner-text-3 {
        width: 660px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        margin: 0;
    }

    #wrapper-inner-text-1 {
        margin-bottom: 40px;
    }

    #wrapper-inner-text-2 {
        margin-bottom: 20px;
    }

    .number {
        font-weight: 800;
        font-size: 50px;
        line-height: 66px;
        margin: 0;
    }

    /* Quaternary */

    .width-quaternary > .text-large {
        text-align: center;
        padding-top: 150px;
        margin-bottom: 50px;
    }

    .sign-up + .text-medium {
        font-weight: bold;
        line-height: 150%;
        text-align: left;

        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /* Quinary */

    .width-quinary > .text-large {
        text-align: center;
        padding-top: 150px;

        margin-bottom: 50px;
    }

    .rate-header, .rate-length {
        font-size: 16px;
        font-weight: 800;
        line-height: 150%;
    }

    .rate-line {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;

        margin: 0;
    }

    .rate-span {
        font-size: 25px;
        font-weight: bold;
        line-height: 150%;

        vertical-align: middle;
        margin-right: 5px;
    }

    .rate-span-price {
        font-size: 16px;
        font-weight: 800;

        float: right;
    }

    .rate-caption {
        font-size: 12px;
        font-weight: 500;
        line-height: 150%;
    }

    .text-caption-quinary {
        width: 560px;

        font-size: 16px;
        font-weight: 700;
        line-height: 150%;
        text-align: left;

        margin-left: 100px;

        display: inline-block;
        vertical-align: middle;
    }

    /* Quinary */

    .width-senary > .text-large {
        text-align: center;
        padding-top: 150px;
        margin-bottom: 50px;
    }

    /* Senary */

    .img-tg-up + .text-medium {
        width: 360px;
        margin-left: 80px;
    }

    /* Footer */

    .text-footer {
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: 250%;
        letter-spacing: 1px;
    }

    .text-left-footer {
        width: 260px;
    }

    .text-right-footer {
        text-align: right;
    }

    .text-middle-footer, .text-right-footer {
        text-decoration: underline;
    }

    /* Containers -------------------- */

    /* Primary */

    #container-primary {
        height: 800px;

        padding-top: 115px;

        border: 1px solid #4c3d74;
        position: relative;
    }

    .width-primary {
        max-width: 1160px;
        margin: auto;
    }

    .section-header {
        height: 38px;
    }

    .container-text-primary {
        width: 65%;
        float: left;
        margin: 120px 0 80px;
        text-align: left;
    }

    .container-img-primary {
        width: 35%;
        float: right;

        position: relative;
    }

    .clear-fix {
        content: "";
        display: table;
        clear: both;
    }

    /* Secondary */

    #container-secondary {
        height: 717px;
        background: #fff;
    }

    .width-secondary {
        max-width: 1160px;
        margin: auto;

        position: relative;
    }

    .badge {
        position: relative;

        width: 333px;
        margin: 0 25px 0;

        background: #e5e5e5;

        border: 3px solid #4c3d74;
        border-radius: 30px;
    }

    .container-badges {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px;
    }

    /* Tertiary */

    #container-tertiary {
        height: 1479px;
        background: #4c3d74;
    }

    .width-tertiary {
        max-width: 1160px;
        margin: auto;

        position: relative;
    }

    .container-labels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .label {
        width: 280px;
        position: relative;

        margin-left: 90px;
        margin-bottom: 45px;
    }

    .container-text-tertiary {
        width: 65%;
        float: left;
    }

    .container-img-tertiary {
        width: 35%;
        float: right;

        position: relative;
    }

    .container-text-tertiary, .container-image-tertiary {
        margin-top: 0;
    }

    .container-highlights {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        margin-bottom: 10px;
    }

    .time, .years, .income, .clients {
        width: 280px;
    }

    .income, .clients {
        margin-top: 0;
    }

    /* Quaternary */

    #container-quaternary {
        height: 1163px;
        background: #fff;
    }

    .width-quaternary {
        max-width: 1160px;
        margin: auto;

        position: relative;
    }

    .li-quaternary {
        color: #4c3d74;
        border-top: 3px solid #504178;
        padding: 20px 0 5px;
        letter-spacing: 1px;
    }

    .add {
        float: right;
    }

    .wrapper-list {
        border-bottom: 3px solid #504178;
        margin-bottom: 50px;
    }

    /* Quinary */

    #container-quinary {
        height: 1200px;
        background: #4c3d74;
    }

    .width-quinary {
        max-width: 1160px;
        margin: auto;
    }

    .wrapper-rates {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;

        margin-bottom: 100px;
    }

    .rate {
        width: 364px;
        height: 545px;

        background: #f2eef7;
        border: 3px solid #4c3d74;
        border-radius: 30px;

        position: relative;
        margin: 0;
    }

    .rate-text-inner {
        padding: 35px;
    }

    .wrapper-caption-quinary {
        position: relative;
    }

    /* Senary */

    #container-senary {
        height: 930px;
        background: #fff;
    }

    .width-senary {
        max-width: 1160px;
        margin: auto;

        position: relative;
    }

    .container-caption-senary {
        position: relative;
    }

    /* Footer */

    #container-footer {
        height: 351px;
        background: #251933;
    }

    .width-footer {
        max-width: 1160px;
        margin: auto;
    }

    .wrapper-text-footer {
        padding-top: 105px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Images --------------------- */

    /* Primary */

    #party-face {
        width: 472px;
        height: 472px;

        margin-top: 10px;
    }

    /* Secondary */

    .image-badge {
        position: absolute;
        top: 10px;
        left: -45px;

        width: 89px;
    }

    .image-container {
        position: absolute;
        bottom: -150px;
        right: 40px;
        width: 243px;
    }

    /* Tertiary */

    .image-label {
        width: 66px;

        position: absolute;
        left: -80px;
        top: 10px;
    }

    #photo-julia {
        width: 399px;
        height: 491px;

        margin-top: 30px;
    }


    /* Quaternary */

    .text-medium + .image-container {
        right: 100px;
    }

    /* Quinary */

    .rate-image {
        width: 128px;

        position: absolute;

        top: -40px;
        right: -45px;
    }

    .img-caption-quinary {
        position: absolute;
        top: 20px;

        margin: 0;
    }

    /* Senary */

    .img-tg-up, .img-tg-down {
        vertical-align: middle;
        top: 35px;
    }

    .img-tg-up {
        position: absolute;
        top: 45px;
        left: 8px;
    }

    .image-container-senary {
        position: absolute;
        bottom: -130px;
        right: 40px;
    }

    .container-caption-senary + .image-container-senary {
        right: 100px;
        margin: 0;
    }

    /* Buttons --------------------- */

    /* Primary */

    .sign-up {
        width: 245px;
        height: 60px;

        margin: 0;

        background: #a387c4;
        border: #a387c4;
        border-radius: 30px;
    }

    .programme {
        width: 245px;
        height: 60px;

        background: #4c3d74;
        border: 3px solid #a387c4;
        border-radius: 30px;

        margin-left: 25px;
    }

    .button-text {
        font-family: 'Futura', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;

        letter-spacing: 1px;
    }

    /* Secondary */

    .button-text-secondary {
        font-family: 'Futura', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;

        letter-spacing: 1px;
    }

    .button-text-secondary, .text-medium {
        vertical-align: middle;
    }

    #sign-up-mobile {
        margin: 0;
    }

    /* Quinary */

    .rate-text-inner + .sign-up {
        position: absolute;
        left: 55px;
        bottom: -30px;
    }

    .button-blue-print {
        width: 245px;
        height: 60px;

        background: #4c3d74;
        border: 3px solid #a387c4;
        border-radius: 30px;

        margin: 0;
    }

    .button-insta {
        width: 245px;
        height: 60px;

        background: #4c3d74;
        border: 3px solid #4c3d74;
        border-radius: 30px;

        margin: 0;
    }

    /* Shapes ------------------------ */

    #blur {
        position: absolute;
        border-radius: 50px;
        width: 318px;
        height: 318px;

        top: 100px;
        left: 80px;

        background: #a387c4;
        filter: blur(400px);
    }

}

/* 601 */

